body {
  margin: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 5px; 
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu {
  background-color: #f4f7f9;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Стили для верхней части шапки сайта*/
.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #32425c;
}

.header-top .container {
  display: flex;
  position: relative;
}

.header-top .basket {
  padding: 13px 30px 13px 50px;
  position: relative;
}

.basket::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 15px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
}

.header-top .bookmarks {
  padding: 13px 30px 13px 45px;
  position: relative;
}

.bookmarks::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 15px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
}

.header-top .order {
  padding: 13px 20px;
  background-color: #63a63e;
}

.header-top a:hover {
  background-color: #212a3a;
}

.header-top .order:hover {
  background-color: #5fbb2d;
}

.header-top a:active {
  background-color: #161d29;
}

.header-top .logo {
  position: absolute;
  padding: 13px 55px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search {
  position: relative;
}

.search-submit input[type="submit"] + .submit-indicator {
  position: absolute;
  top: 16px;
  left: 235px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  cursor: pointer;
}

.search .search-input {
  margin-left: 221px;
  font-size: 17px;
  line-height: 18px;
  width: 265px;
  padding-top: 15px;
  padding-bottom: 11px; 
  padding-left: 50px;
  outline: none;

  background-color: transparent;
  border: none;
}

.search .search-input::placeholder {
  color: #ffffff;
}

.search .search-input:focus {
  background-color: #ffffff;
}

.header-top .logo:hover {
  background-color: #ca2c37;
}

.header-top .order:active {
  background-color: #518534;
}

/*Стили для середины шапки сайта*/
.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-middle .headline {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  width: 196px;
  margin-left: 53px;
}

.user a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  margin-right: 25px;
}

.user .user-name {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding: 12px 70px 10px 50px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 10px;

  background-color: #ffffff;
}

.user .user-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
}

.user .user-name::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 290px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
}

.user-menu {
  display: flex;
  list-style: none;
  position: relative;

  margin-top: 0px;
}

.user-menu::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 125px;

  width: 5px;
  height: 5px;

  background-color: #32425c;
  border-radius: 50%;
}

.contacts .contacts-phone {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #ee3643;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 0px;

  border: 3px solid #ffffff;
}

.contacts .contacts-phone::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
}

.contacts .contacts-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
  margin-top: 5px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-left: 10px;

  background-color: #ffffff;
}

.user-navigation .enter {
  position: relative;
  padding: 13px 27px 15px 48px;
}

.user-navigation .enter::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
}

.user-navigation .registration {
  padding: 13px 25px 15px 25px;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*Стили для меню навигации*/
.navigation {
  padding-bottom: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 30px 25px 30px;
}

.site-navigation a:hover {
  background-color: #1d2739;
}

.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/*Стили для главной страницы*/
.company {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-description {
  width: 520px;
}

.company-transport {
  position: relative;
  list-style: none;
}

.company-transport li {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}

.company-transport li::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 5px;

  width: 25px;
  height: 2px;

  background-color: #ee3643; 
}

.company-address {
  width: 300px;
}

.button-map {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-transport {
  padding: 13px 40px;
}

/*Стили для меню пользователя в каталоге*/

/*Стили для каталога*/
.breadcrumbs {
  display: flex;
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 10px;
}

.filter-catalog {
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;

  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;

  text-transform: uppercase;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.catolog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog ul {
  list-style: none;
}

.catolog-item {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.catolog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;

  text-decoration: line-through;
}

.discount-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  width: 141px;

  background-color: #ee3643;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 10px;
}

.pagination-item a {
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  background-color: #ee3643;
  border: none;
}

/*Стили для подвала*/
.footer-top {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 85px;

  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-top .logo {
  display: inline-block;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  padding: 20px 40px;

  background-color: #ee3643;
}

.footer-top ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-top-menu {
  flex-grow: 1;
}

.footer-categories li{
  margin-left: 23px;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button {
  width: 40px;
  height: 40px;
  margin-left: 5px;

  border-radius: 50%;
  background-color: #212a3a;
}

.social-button-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-face {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-yellow-name,
.footer-categories a {
  color: #ffd180;
}

.footer-yellow-name:hover,
.footer-categories a:hover,
.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-categories a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-yellow-name:active {
  color: #ee3643;
}

.footer-bottom-feedback {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-feedback p {
  margin-left: 53px;
}